html,body{
  padding: 0;
  margin: 0;
}
body{
  padding: 15px;
  background-color: #eeeeee;
}

/*设置卡片主题区域的宽度*/
.layui-card-body{
  width: 500px;
}

/*设置按钮行的样式*/
.row2{
  display: flex;
  /*用于设置或弹动玩具元素在（横轴）方向上的布局方式*/
  /*flex-end为向左侧对齐*/
  justify-content: flex-end;
  margin-top: 20px;
}

/*设置裁剪区域的样式*/
.cropper-box{
  width: 350px;
  height: 350px;
  background-color: cyan;
  overflow: hidden;
}

/*设置第一个预览区的样式*/
.w100{
  width: 100px;
  height: 100px;
  background-color: gray;
}

/*设置第二个预览区样式*/
.w50{
  width: 50px;
  height: 50px;
  background-color: gray;
  margin-top: 50px;
}

/*设置预览区下方文本样式*/
.size{
  font-size: 12px;
  color: gray;
  text-align: center;
}

/*设置图片行的样式*/
.row1{
  display: flex;
}

/*设置preview-box区域样式*/
.preview-box{
  display: flex;
  /*规定灵活项目的方向 column 为垂直排列盒子*/
  flex-direction: column;
  flex: 1;
  /*定义盒子以什么方式纵向对齐*/
  align-items: center;
}

/*设置img-preview区域样式*/
.img-preview{
  overflow: hidden;
  border-radius: 50%;
}

#file{
  display: none;
}